# Python bytecode
*.pyc

# Logs
*.log
nohup.out

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# DrawIO
*.drawio

# Streamlit
.streamlit
config/web_user.yaml

# Temporary
doc/_*.md
doc/_*.pptx
output/

config/api-config.json
data/pool/*
!data/pool/preference_pool.txt
!data/pool/preference_pool_en.txt
test.ipynb
